<%= render partial: "decidim/shared/component_announcement" %>
<% start_date, end_date = %w(start_date end_date).map { |attribute| current_component.participatory_space.try(attribute) } %>
<% instructions = translated_attribute(current_component.current_settings.landing_page_instructions).presence || translated_attribute(current_component.settings.landing_page_instructions) %>

<div class="row">
  <div class="columns medium-7 mediumlarge-8">
    <%= cell("decidim/budgets/budgets_header", current_workflow) %>
    <%= cell("decidim/budgets/budgets_list", current_workflow) %>
  </div>

  <% if start_date.present? || instructions.present? %>
    <div class="columns section view-side medium-4">
      <% if start_date %>
        <div class="card extra">
          <div class="card__content">
            <h3><%= t(".date") %></h3>
            <%= cell("decidim/date", { start: start_date, end: end_date, extra_classes: "extra__date-container--horizontal" }) %>
          </div>
        </div>
      <% end %>

      <% if instructions.present? %>
        <div class="card extra">
          <div class="card__content">
            <h3><%= t(".instructions") %></h3>
            <div class="text-left">
              <%== instructions %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
