<div id="order-progress">
  <div class="m-s">
    <%= back_link %>
  </div>

  <div class="card budget-summary" data-progress-reference data-safe-url="<%= budget_url(budget) %>">
    <div class="card__content">
      <h3 class="heading3">
        <%= title %>
        <%= content_tag :small, subtitle if subtitle.present? %>
      </h3>

      <div class="row column voting-rules">
        <div class="callout warning">
          <div class="row">
            <div class="columns medium-8 large-9">
              <h5 class="heading5">
                <%= rules_title %>
              </h5>
              <ul>
                <%= raw rules_text(:instruction) %>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <%= description %>

      <% if more_information %>
        <button data-toggle="budget-more-information">
        <%= t("more_information", scope: i18n_scope) %>
          <%= icon("caret-bottom", class:"icon--small", aria_label: t("view", scope: "decidim.budgets.projects.order_selected_projects"), role: "img") %>
        </button>
        <div id="budget-more-information" class="hide mb-s" data-toggler=".hide">
          <%= more_information %>
        </div>
      <% end %>

      <div class="budget-summary__total" data-total-allocation="<%= current_order.available_allocation %>" data-total-budget="<%= budget.total_budget if current_order.projects_rule? %>">
        <span class="h6"><%= order_total_title %>
          <strong>
            <%= order_total_amount %>
          </strong>
        </span>
      </div>

      <div class="budget-summary__progressbox budget-summary__progress--bar" data-current-allocation="<%= current_order ? current_order.total : 0 %>">
        <div class="progress budget-progress" role="progressbar" aria-valuenow="<%= current_order_budget_percent %>" aria-valuetext="<%= current_order_budget_percent %>%" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-meter progress-meter--minimum" style="width: <%= progress_minimum %>%"></div>
          <!--Change width and text dynamically.-->
          <div class="progress-meter budget-progress__meter" style="width: <%= current_order_budget_percent %>%">
            <span class="progress-meter-text progress-meter-text--right">
              <%= render partial: "decidim/budgets/projects/order_total_budget.html" %>
            </span>
          </div>
        </div>
        <% if !current_order_checked_out? && voting_open? %>
          <button class="button small button--sc" data-toggle="budget-confirm" <%= budget_confirm_disabled_attr %>>
            <%= t("vote", scope: i18n_scope) %>
          </button>
        <% end %>
      </div>
    </div>

    <%= render partial: "decidim/budgets/projects/order_selected_projects.html" %>
  </div>

  <%= render partial: "decidim/budgets/projects/budget_excess_modal.html" %>
  <%= render partial: "decidim/budgets/projects/budget_confirm.html" %>
</div>
