<div class="focus-mode">
  <nav class="focus-mode__bar" data-topbar role="navigation" data-options="sticky_on: large">
    <div class="focus-mode__bar--left">
    </div>
    <span class="focus-mode__title">
      <%= translated_attribute current_organization.name %>
      /
      <%= title %>
    </span>

    <div class="focus-mode__bar--right">
      <span class="focus-mode__user">
        <%= current_user.name %>
      </span>
      <button class="close-button focus-mode__close" data-toggle="focus-mode--on" aria-label="Close focus mode" type="button">
        <span aria-hidden="true">×</span>
      </button>
    </div>

  </nav>
  <%= yield %>
</div>

<%= yield %>