<div class="<%= card_class %> budget-list__item">
  <div class="budget-list__text flex-horizontal">
    <%= link_to budget_path(budget), class: link_class do %>
      <h4 class="card--list__heading">
        <% if voted? && !voting_finished? %>
          <span class="button tiny success card--list__check card--list__check--disabled card--list__check--inline">
            <%= icon "check", class: "icon--small", role: "img" %>
          </span>
        <% elsif progress? && !voting_finished? %>
          <span class="button tiny hollow warning card--list__check card--list__check--disabled card--list__check--inline">
            <%= icon "pin", class: "icon--small", role: "img" %>
          </span>
        <% end %>
        <%= translated_attribute(title) %>

        <%= icon "chevron-right", class: "icon--small", role: "img" %>
      </h4>
    <% end %>

    <h5>
      <strong>
        <%= budget_to_currency(total_budget) %>
      </strong>
    </h5>

    <%= decidim_sanitize html_truncate(translated_attribute(description), length: 140) %>
  </div>

  <div class="budget-list__data">
    <%= link_to budget_path(budget), class: "button button--sc expanded #{button_class} mb-none" do %>
      <span><%= button_text %></span>
      <%= icon "chevron-right", class: "icon--small", role: "img" %>
    <% end %>
  </div>
</div>
