<div class="reveal" data-reveal id="budget-confirm">
  <% if current_order.present? %>
    <div class="reveal__header">
      <h3 class="reveal__title"><%= t("title", scope: "decidim.budgets.projects.budget_confirm") %></h3>
      <button class="close-button" data-close aria-label="<%= t("cancel", scope: "decidim.budgets.projects.budget_confirm") %>" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <p><%= t("description", scope: "decidim.budgets.projects.budget_confirm") %></p>
    <div class="card card--secondary">
      <ul class="card__content">
        <% current_order.projects.each do |project| %>
          <li class="budget-summary__selected-item">
            <%= link_to translated_attribute(project.title), resource_locator([budget, project]).path %>
            <strong class="budget-summary__selected-number">
              <%= budget_to_currency project.budget_amount %>
            </strong>
          </li>
        <% end %>
      </ul>
    </div>
    <p class="text-center"><%= t("are_you_sure", scope: "decidim.budgets.projects.budget_confirm") %></p>
    <div class="row">
      <div class="columns medium-8 medium-offset-2">
        <%= button_to t("confirm", scope: "decidim.budgets.projects.budget_confirm"), checkout_budget_order_path(budget), class: "button expanded", data: { disable: true } %>
      </div>
    </div>
    <div class="text-center">
      <button class="link" data-close><%= t("cancel", scope: "decidim.budgets.projects.budget_confirm") %></button>
    </div>
  <% end %>
</div>
